h1{
    color: blue;
}
table{
    border:1px solid rgb(100,200,50);
	width:50%;
	color:red;
}

body {
	
	background-color:lightblue;
}

td   {

	text-align: left;
	padding: 16px;
}

